<a href="https://colab.research.google.com/github/Saicharan1818/theta/blob/main/Feature_scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

#sample dataset
data = {
    "customer_id": [1, 2, 3, 4, 5],
    "gender": ["male", "female", "male", "female", "male"],
    "country": ["USA", "Canada", "USA", "Canada", "UK"],
    "fruits": ["apple", "banana", "orange", "apple", "banana"]
}
df = pd.DataFrame(data)
print("original data")
print(df)

#apply onehotencoder
encoder = OneHotEncoder(sparse_output=False)
encoded_data = encoder.fit_transform(df[["gender", "country","fruits"]])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(["gender", "country","fruits"]))
df = pd.concat([df, encoded_df], axis=1)
df.drop(["gender", "country","fruits"], axis=1, inplace=True)
print("\nencoded data")
print(df)

original data
   customer_id  gender country  fruits
0            1    male     USA   apple
1            2  female  Canada  banana
2            3    male     USA  orange
3            4  female  Canada   apple
4            5    male      UK  banana

encoded data
   customer_id  gender_female  gender_male  country_Canada  country_UK  \
0            1            0.0          1.0             0.0         0.0
1            2            1.0          0.0             1.0         0.0
2            3            0.0          1.0             0.0         0.0
3            4            1.0          0.0             1.0         0.0
4            5            0.0          1.0             0.0         1.0

   country_USA  fruits_apple  fruits_banana  fruits_orange
0          1.0           1.0            0.0            0.0
1          0.0           0.0            1.0            0.0
2          1.0           0.0            0.0            1.0
3          0.0           1.0            0.0            0.0
4          0.0           0.0            1.0            0.0

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

#sample dataset
data = {
    "customer_id": [1, 2, 3, 4, 5],
    "gender": ["male", "female", "male", "female", "male"],
    "country": ["USA", "Canada", "USA", "Canada", "UK"],
    "fruits": ["apple", "banana", "orange", "kiwi", "banana"]
}
df = pd.DataFrame(data)
print("original data")
print(df)

#apply onehotencoder
encoder = OneHotEncoder(sparse_output=False)
encoded_data = encoder.fit_transform(df[["gender", "country","fruits"]])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(["gender", "country","fruits"]))
df = pd.concat([df, encoded_df], axis=1)
df.drop(["gender", "country","fruits"], axis=1, inplace=True)
print("\nencoded data")
print(df)

original data
   customer_id  gender country  fruits
0            1    male     USA   apple
1            2  female  Canada  banana
2            3    male     USA  orange
3            4  female  Canada    kiwi
4            5    male      UK  banana
/nencoded data
   customer_id  gender_female  gender_male  country_Canada  country_UK  \
0            1            0.0          1.0             0.0         0.0
1            2            1.0          0.0             1.0         0.0
2            3            0.0          1.0             0.0         0.0
3            4            1.0          0.0             1.0         0.0
4            5            0.0          1.0             0.0         1.0

   country_USA  fruits_apple  fruits_banana  fruits_kiwi  fruits_orange
0          1.0           1.0            0.0          0.0            0.0
1          0.0           0.0            1.0          0.0            0.0
2          1.0           0.0            0.0          0.0            1.0
3          0.0           0.0            0.0          1.0            0.0
4          0.0           0.0            1.0          0.0            0.0